<!DOCTYPE html>
<html lang="en">
    
<body>
    <div class="container">
        <main>
            <div>
                <h2>Ingresa tus datos:</h2>
                <form method="POST" action="/productos">

                    <div>
                        <label for="title">Name</label>
                        <input type="text" name="title">
                    </div>

                    <div>
                        <label for="price">Price</label>
                        <input type="number" name="price">
                    </div>

                    <div>
                        <label for="thumbnail">Img</label>
                        <input type="text" name="thumbnail">
                    </div>

                    <button type="submit">Enviar</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>